<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Player</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div id="song-stuff">
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %}
        <audio id="audio-player" controls>
            <source src="{% static 'music/' %}{{ file_name }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>
        <button class="button" id="skip-button">Skip</button>
        <a href="{% url 'song_info' %}?file_name={{ file_name }}">
            <button class="button">Show Information</button>
        </a>
    </div>
    
    <!-- Some javascript to handle changing the song -->
    <script>
        const audioPlayer = document.getElementById('audio-player');
        
        audioPlayer.addEventListener('ended', () => {
            window.location.href = window.location.pathname + '?next=true';
        });

        document.getElementById('skip-button').addEventListener('click', () => {
            window.location.href = window.location.pathname + '?next=true';
        });

        const urlParams = new URLSearchParams(window.location.search);
        const playNext = urlParams.get('next');
        if (playNext === 'true') {
            audioPlayer.play();
        }
    </script>
</body>
</html>
