<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    <div id="song-stats">
        {% if title %}
            <h1>{{ title }}</h1>
        {% endif %}
        {% if artist %}
            <p>Artist: {{ artist }}</p>
        {% endif %}
        {% if album %}
            <p>Album: {{ album }}</p>
        {% endif %}
        {% if genre %}
            <p>Genre: {{ genre }}</p>
        {% endif %}
        {% if release_year %}
            <p>Release Year: {{release_year}}</p>
        {% endif %}
        {% if duration %}
            <p>Duration: {{ duration }}</p>
        {% endif %}
        <a href="{% url 'index' %}"><button class="button">Back to Player</button></a>
    </div>
</body>
</html>
